@import 'tailwindcss';

/* auth form */
.icon-input-form {
    @apply absolute inset-y-0 left-3 size-5 text-gray-400 top-1/2 -translate-y-1/2;
}

.label-form {
    @apply block text-gray-700 mb-2 text-sm;
}

.input-form {
    @apply text-sm w-full pl-10 pr-3 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-sky-500;
}
